body {
    margin: 0;
    height: 100vh;
    background: rgb(74, 96, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}

/* body of the chat container */

.chat-container {
    width: 400px;
    height: 550px;
    background: rgba(15, 18, 40, 0.95);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

/* Header in chat with NLAI*/
.chat-header {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* make the shadow of the chat container */
.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* make the shape of message bubbles */
.message {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.4;
}

/* make the AI message bubble style */
.message.ai {
    align-self: flex-start;
    background: rgba(255, 255, 255, 0.15);
    color: white;
}


/* make the user message bubble style */
.message.user {
    align-self: flex-end;
    background: linear-gradient(135deg, #234fa9, #2619bbb8);
    color: white;
}

/* make the shape of the input area , under the messages */
.chat-input {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* make the input field look better */
.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}


/* make the send button look better */
.chat-input button {
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #3b05d1;
    color: white;
    font-weight: bold;
}

/* make the tasks container look better */
.tasks-container {
    margin-top: 10px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #ffc107;
    border-radius: 4px;
    font-size: 12px;
}



/* make the task items look better */
.task-item {
    margin-top: 6px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    font-size: 11px;
}
